<a href="https://colab.research.google.com/github/mz-zarei/Trajectory_Analysis/blob/main/INTERACTION_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import os

In [27]:
folder = '/content/drive/MyDrive/Trajectory_Analysis/Interaction/'
data_paths = os.listdir(folder)

num_cases = 0
max_num_agents = 0
for path in data_paths:
    print(path)
    data = pd.read_csv(folder + path)
    print("\t Number of cases: ", data.case_id.max())
    print("\t Max number of agents in case: ", data.track_id.max())

    num_cases += data.case_id.max()
    
    if max_num_agents < data.track_id.max():
        max_num_agents = data.track_id.max()

print("-" * 60)
print("Total number of cases: ", num_cases)
print("Max number of agents in all cases: ", max_num_agents)

DR_USA_Roundabout_FT_train.csv
	 Number of cases:  9811.0
	 Max number of agents in case:  25
DR_CHN_Merging_ZS0_train.csv
	 Number of cases:  4534.0
	 Max number of agents in case:  26
DR_DEU_Merging_MT_train.csv
	 Number of cases:  1249.0
	 Max number of agents in case:  17
DR_CHN_Roundabout_LN_train.csv
	 Number of cases:  1078.0
	 Max number of agents in case:  15
DR_CHN_Merging_ZS2_train.csv
	 Number of cases:  4228.0
	 Max number of agents in case:  48
DR_USA_Intersection_EP1_train.csv
	 Number of cases:  1372.0
	 Max number of agents in case:  27
DR_USA_Intersection_EP0_train.csv
	 Number of cases:  1754.0
	 Max number of agents in case:  23
DR_DEU_Roundabout_OF_train.csv
	 Number of cases:  2429.0
	 Max number of agents in case:  15
DR_USA_Intersection_GL_train.csv
	 Number of cases:  12327.0
	 Max number of agents in case:  33
DR_USA_Roundabout_EP_train.csv
	 Number of cases:  1775.0
	 Max number of agents in case:  22
DR_USA_Intersection_MA_train.csv
	 Number of cases:  5163.0
	 Max number of agents in case:  27
DR_USA_Roundabout_SR_train.csv
	 Number of cases:  1864.0
	 Max number of agents in case:  36
------------------------------------------------------------
Total number of cases:  47584.0
Max number of agents in all cases:  48

101110.275

        case_id  track_id  frame_id  ...  psi_rad length  width
0           1.0         1         1  ...    2.776  11.97   2.59
1           1.0         2         1  ...    3.012   4.27   1.76
2           1.0         3         1  ...    2.467   4.50   1.79
3           1.0         4         1  ...    0.289   9.86   2.60
4           1.0         5         1  ...    0.100   7.76   2.60
...         ...       ...       ...  ...      ...    ...    ...
464750   2429.0         5        40  ...    1.519   4.39   1.66
464751   2429.0         6        40  ...   -0.302   4.36   1.81
464752   2429.0         7        40  ...    1.721   4.68   1.84
464753   2429.0         8        40  ...    1.890   4.71   1.75
464754   2429.0         9        40  ...    2.937   3.88   1.73

[464755 rows x 12 columns]